body {
    background-color: #f7f9fa;
}

.niranjan {
    margin-top: 30px;
    margin-left: 30px;
    position: absolute;
    background: rgb(255, 255, 255);
    height: 260px;
    width: 215px;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 0 8px rgba(192, 188, 188, 0.527);
}

.niranjan .btn {
    height: 40px;
    width: 220px;
    border-radius: 6px;
    border: 1px solid rgb(221, 221, 221);
}

.niranjan .btn:focus {
    border: 1px solid rgba(27, 27, 177, 0.808);
}

.niranjan .loginbtn {
    background-color: #1877f2;
    color: white;
    height: 40px;
    width: 220px;
    border-radius: 6px;
    font-family: verdana;
    border: 1px solid rgb(221, 221, 221);
}

.niranjan .link {
    background: none;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

.niranjan .newaccount {
    margin-left: 30px;
    background-color: #42b72a;
    color: white;
    text-align: center;
    height: 40px;
    width: 150px;
    border-radius: 6px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 700;
}

a=2 a=a+2 printa